@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

.area{
display: inline-block;
padding: 70px 90px;
}

#button{
display: inline-block;
background-color:#3de074;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 10px 20px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
}